.hero {
  position: relative;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.heroimg {
  z-index: -5;
  object-fit: cover;
  transform: translate(0, -13rem);
  opacity: 0.2;
  height: 809px;
}

.textBox {
  text-align: center;
  font-family: var(--jost-font), sans-serif;
  margin-top: 20px;
  max-width: 85%;
}

.h1 {
  font-size: 5vmax;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3rem;
}

.h3 {
  font-size: 4vmax;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imageContainer {
  position: relative;
  flex: 1;
  height: 120%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBox {
  display: flex;
  width: 80%;
  height: 100%;
}

.forHerImg,
.forHimImg {
  object-fit: cover;
  object-position: top;
  height: 10rem;
  width: 10rem;
}

.forHerBtn,
.forHimBtn {
  position: relative;
  display: flex;
  width: 40%;
  padding: 18px 35px 14px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(245, 245, 241);
  border: none;
  font-family: var(--josefin-font), sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 917px) {
  .forHerBtn,
  .forHimBtn {
    width: 50%;
  }
}
