.formComp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  font-family: var(--jost-font), sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: max-height 0.3s ease-out;
  background-color: var(--Theme-white);
}

.label {
  display: block;
  margin: 1rem 0;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  box-sizing: border-box;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: var(--jost-font), sans-serif;
  font-size: 1.3em;
}

.input:focus,
.textarea:focus,
.select:focus {
  outline: none;
}

.select {
  font-size: 1rem;
}

.button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--Gray-1000);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: rgb(202, 202, 202);
}

.error {
  color: red;
  margin-top: 1rem;
}
